body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #0d0d0d;
  color: #ffffff;
}
html, body {
  /* Prevent horizontal scrolling globally */
  margin: 0;
  padding: 0;
}

.container {
  width: 100%; /* Ensure content doesn't exceed screen width */
  box-sizing: border-box; /* Include padding in element width */
}


.App {
  text-align: center;
}

a {
  color: #00d4ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
